<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
   <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                     <form role="form">
                        <div class="form-group">
  <div class="field">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name,class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body,class:"form-control" ,rows:"3" %>
  </div>
  <%= f.hidden_field :post_id %>
  <div class="field">
    <%= f.label :post_id %><br>
    <%= f.number_field :post_id, class:"form-control",rows:"-1"%>
  </div>
  <div class="actions">
    <%= f.submit "Comentar", class: "btn btn-primary" %>
  </div>
    </form>
  </div>
<% end %>
 
                  