<section id="portfolio">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Galeria de fotos das atividades(4.1)</h2>
                <p class="text-center wow fadeInDown">Sugiro que dividido por topicos , exponha aqui as atividades promovidas e seu espaço  <br> esse tipo de ação costuma ser muito bem vista, fotos e videos do ambiente e de suas atividades podem vir aqui(4.2)</p>
            </div>

            <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">categoria 1(4.3)</a></li>
                    <li><a href="#" data-filter=".creative">Categoria 2</a>(4.3.1)</li>
                    <li><a href="#" data-filter=".corporate">Categoria 3</a>(4.3.2)</li>
                    <li><a href="#" data-filter=".portfolio">Categoria 4</a>(4.3.3)</li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">
                <div class="portfolio-item creative">
                    <div class="portfolio-item-inner">
                         <%= image_tag "images_home/portfolio/01.jpg", class: "img-responsive wow fadeIn", alt: "" %>
                    
                        <div class="portfolio-info">
                            <h3>Portfolio Item 1</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate portfolio">
                    <div class="portfolio-item-inner">
                         <%= image_tag "images_home/portfolio/02.jpg", class: "img-responsive wow fadeIn", alt: "" %>
                        <div class="portfolio-info">
                            <h3>Portfolio Item 2</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative">
                    <div class="portfolio-item-inner">
                         <%= image_tag "images_home/portfolio/03.jpg", class: "img-responsive wow fadeIn", alt: "" %>
                        
                        <div class="portfolio-info">
                            <h3>Portfolio Item 3</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate">
                    <div class="portfolio-item-inner">
                         <%= image_tag "images_home/portfolio/04.jpg", class: "img-responsive wow fadeIn", alt: "" %>
                        
                        <div class="portfolio-info">
                            <h3>Portfolio Item 4</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative portfolio">
                    <div class="portfolio-item-inner">
                         <%= image_tag "images_home/portfolio/05.jpg", class: "img-responsive wow fadeIn", alt: "" %>
    
                        <div class="portfolio-info">
                            <h3>Portfolio Item 5</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate">
                    <div class="portfolio-item-inner">
                         <%= image_tag "images_home/portfolio/06.jpg", class: "img-responsive wow fadeIn", alt: "" %>
                        <div class="portfolio-info">
                            <h3>Portfolio Item 5</h3>
                            Lorem Ipsum Dolor Sit
                            <a class="preview" href="images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative portfolio">
                    <div class="portfolio-item-inner">
                        <%= image_tag "images_home/portfolio/07.jpg", class: "img-responsive wow fadeIn", alt: "" %>
                       
                        <div class="portfolio-info">
                            <h3>Portfolio Item 7</h3>
                            Lorem Ipsum Dolor Sit
                             <%= image_tag "images_home/portfolio/07.jpg", class: "img-responsive wow fadeIn", alt: "" %>
                            <a class="preview" href="images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate">
                    <div class="portfolio-item-inner">
                         <%= image_tag "images_home/portfolio/08.jpg", class: "img-responsive wow fadeIn", alt: "" %>
                        <img class="img-responsive" src="images/portfolio/08.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portfolio Item 8</h3>
                            Lorem Ipsum Dolor Sit
                             <%= image_tag "images_home/portfolio/07.jpg", class: "img-responsive wow fadeIn", alt: "" %>
                            <a class="preview" href="images/portfolio/full.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        </div><!--/.container-->
    </section><!--/#portfolio-->
