




<%= render 'partials/editor' %>

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  


  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo ,type:"text" ,class:"form-control " %>
  </div>
  <div class="field">
    <%= f.label :autor %><br>
    <%= f.text_field :autor ,type:"text" ,class:"form-control" %>
  </div>
  <div class="editable"><div class="field">
  <h1>Abstract</h1>
    <%= f.text_area :abstract, class:"form-control" ,rows:"3" %>
  </div>
  </div>
  
  <div class="field">
    <h1>Conteudo</h1>
    <%= f.text_area :paragrafo1 ,id:"editor", class:"form-control" ,rows:"3"%>
  </div>

  <div class="field">
    <%= f.label :categoria %><br>
    <%= f.text_field :categoria, class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
